body{
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
}
.calculator{
width: 300px;
margin: auto;
padding: 20px;
background:aqua;
border-radius: 10px;
box-shadow: 10px 10px 10px gray;
}
#display{
    width: 95%;
    height: 40px;
    font-size: 20px;
    margin-bottom: 10px;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
button{
    padding: 15px;
    font-size: 18px;
    background: blue;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    color:white;
}